.jumbotron{
margin-bottom: 0;
background: url('midgard.png') no-repeat;
background-size: cover;
background-position: 80% 25%;
}

.jumbotron h1{
	color:white;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
margin-bottom: 50px;
border-radius: 0;
}

.panel-footer{
	color: white;
	background-color:#303030;
  text-align: center;
}

.panel-heading {
  width: 100%;
  text-align: center;
}

.panel-heading a {
  margin-left: 190px;
  color:black;
  font-size: 12px;
}

.panel-body {
  height: 200px;
  width: 170px;
  margin-right: auto;
  margin-left: auto;
}

/* Add a gray background color and some padding to the footer */
.page-footer{
background: #f2f2f2;
text-align: center;
}

.cvg{
	color:grey;
}

.dropdown-menu {
display: none;
}

.dropdown:hover .dropdown-menu{
display: block;
}


/*CSS pour la page connexion*/
/* Bordered form */
form.inscrit{
  border: 3px solid #f1f1f1;
}

form.inscrit p{
  text-align: center;
  font-size: 22px;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.img {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 10%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.erreur{
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

.choix label {
  font-size: 20px;
  color: #333333;
}

.choix p{
  text-align: center;
}

.acheteur input[type=text], input[type=password],input[type=tel],input[type=date]{
  width: 100%;
  padding: 8px;
  margin-top: 1px;
}

.acheteur{
  text-align: center;
}

.acheteur p{
  text-align: center;
  color:#2F4F4F;
  font-size: 16px;
}

.inscriptionA{
  font-size: 16px;
  color: #696969;
}

.inscriptionV{
  font-size: 16px;
  color:#696969;
}

.connection p{
  text-align: center;
  font-size: 22px;
}
.connection label{
  color: #333333;
}

.vendeur {
  height: 600px;
  width: 100%;
}

.vendeur p {
  text-align: center;
  font-size: 25px;
  color: black;
}

.vente {
  color:#696969;
  font-size: 16px;
}

.admin p{
  text-align: center;
  font-size: 25px;
}

form .argent{
  text-align: center;
  font-size: 18px;
}
form .argent [type=number]{
  text-align: center;
  color: grey;
}

form .argent p{
  text-align: center;
  font-size: 22px;
}

.enchere p{
  font-size: 20px;
  color:#696969;
}

.nego p{
  font-size: 20px;
  color:#696969;
}

.comptant p{
  font-size: 20px;
  color:#696969;
}

.totalPaiement {
  text-align: right;
  margin-right: 50px;
  font-size: 22px;
  color:#696969;
}